[Desktop Entry]
Version=1.0
Name=Ad Block Radio
Comment=Internet radio player that blocks advertisements.
Exec="/usr/bin/python3 /home/user/adblockradio/adblockradio.py"
Path=/home/user/adblockradio/
Icon=/home/user/adblockradio/ui/icon.svg
Terminal=false
Type=Application
Categories=Application;