[Desktop Entry]
Version=0.3
Name=Ad Block Radio
Comment=Internet radio player that blocks advertisements.
Exec=adblockradio
Icon=/usr/share/adblockradio/icon.svg
Terminal=false
Type=Application
Categories=Application;AudioVideo;Audio;Music;